@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

@media print {
    .print-none {
        display: none;
    }
    * {
        color: black;
    }
}

.print-header {
    display: flex;
    justify-content: space-between;
}

:target {
    background-color: var(--dm-button-bg-color);
    outline: none;
}